

<li>
	{{name}}

	<p data-name="{{burger_name}}" data-id="{{id}}"data-newburger="{{devoured}}">
		{{this.burger_name}}

        <button>DEVOUR</button>
        <button data-id="{{id}}" id="delete-btns">DELETE</button>


	</p>

	{{!-- <button class="delete-btn" data-id="{{this.id}}">

		DELETE

	</button> --}}
</li>