

<li>
	{{name}}

	<p data-name="{{burger_name}}" data-id="{{id}}"data-newburger="{{devoured}}">
		{{this.burger_name}}
	</p>

	{{!-- <button class="delete-btn" data-id="{{this.id}}">

		DELETE

	</button> --}}
</li>