

<li>
	{{name}}

	<p data-name="{{burger_name}}" data-id="{{id}}"data-newburger="{{devoured}}">
		{{this.burger_name}}

        <button class="devour-btns" data-id="{{id}}">DEVOUR</button>

        
        <button class="delete-btns" data-id="{{id}}">DELETE</button>


	</p>

</li>